[submodule "libraries/gflags"]
	path = libraries/gflags
	url = https://github.com/gflags/gflags
[submodule "libraries/yaml-cpp"]
	path = libraries/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "libraries/LinkedList"]
	path = libraries/LinkedList
	url = https://github.com/Duality4Y/LinkedList
